/*Typograpy Start*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Inter", sans-serif;
    -webkit-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
.container{
    max-width:1320px;
    margin: 0 auto;

}
img{
    max-width:100%;
    height: auto;
}
a{
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin: 30px 0;
}
p{
    
    line-height: 150%;
    margin:5px 0;
}
.navbar-btn{
     padding: 10px 20px;
}
.btn1{
    background-color: #1D4ED8;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.btn1:hover{
   box-shadow:2px 1px 10px #1D4ED8;
}
/*Typograpy End*/

/* Header Section Style start*/
.header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin:24px 0;
}
.navbar .nav-list{
    list-style: none;
    display:inline-flex;
    gap:30px;
    justify-content: space-between;
    align-items:center;
}
.navbar .nav-list li a{
    color:#575757;
    padding:5px 10px;
    display:inline-flex;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.nav-list li a:hover{
   transform: scale(1.1);
    color:#2563EB;
    border-radius:10px;
}

/* Header Section Style End*/

/* Hero Section Style Start*/
.hero-section{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
 url(./assets/banner.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    height:786px;
    
}
.hero-wrapper{
   padding:136px 0;
   color:white;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap:200px;
}
.hero-wrapper .center-text h1{
    font-size: 80px;
}
.center-text .hero-p{
    width: 600px;
    height: 108px;
    margin: auto;
    font-weight:200;
}
.center-text p{
   font-size:16px;
   font-family:"Inter", sans-serif;
}
.hero-wrapper .hero-btn{
    padding:20px 35px;
    font-size:20px;
    font-weight: lighter;
}
/* Hero Section Style End*/